[group:{{ app_id }}]
programs=
    {% if app_web_enabled %}{{ app_web_service_name }}{% endif %}
    {% if app_celery_enabled %}{{ app_celery_service_name }}{% endif %}
    {% if app_celerybeat_enabled %}{{ app_celerybeat_service_name }}{% endif %}

{% if app_web_enabled %}
[program:{{ app_web_service_name }}]
directory={{ app_dir }}
command={{ app_virtualenv }}/bin/gunicorn {{ app_wsgi_module }}
    --bind {{ app_web_unix_socket }}
    --workers {{ app_web_workers }}
user={{ app_user }}
umask=022
autostart=true
autorestart=true
startsecs=10
startretries=3
exitcodes=0,2
stopsignal=TERM
stopwaitsecs=10
stdout_logfile={{ app_logs_dir }}/web.log
stderr_logfile={{ app_logs_dir }}/web.log
{% endif %}

{% if app_celery_enabled %}
[program:{{ app_celery_service_name }}]
command={{ app_virtualenv }}/bin/celery worker
    --app {{ app_celery_module }}
    --loglevel {{ app_celery_loglevel }}
    --concurrency {{ app_celery_workers }}
directory={{ app_dir }}
user={{ app_user }}
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600
killasgroup=true
{% endif %}

{% if app_celerybeat_enabled %}
[program:{{ app_celerybeat_service_name }}]
command={{ app_virtualenv }}/bin/celery beat --app {{ app_celery_module }}
directory={{ app_dir }}
user={{ app_user }}
autostart=true
autorestart=true
startsecs=10
{% endif %}
